@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Chivo Mono', sans-serif;
    box-sizing: border-box;
}

.death-container{
    position: fixed;
    top:85vh;
    left:10%;
    right:10%;
    border: 1px solid white;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 32px;
    color: white;
    text-align: center;
    .text-container{
        align-items: center;
            .red_char{
                color:red;
            }
            .green_char{
                color:green;
            }
        /*border: 1px solid black;*/
        
        
    }
}

.main-hud-container{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
    z-index: -1;
    .stats{
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 10px;

        .logo{
            padding-right: 25px;
            opacity: 0.5;
            img {
                max-height: 75px;
                max-width: 150px;
            }
        }

        .other{
            //padding-left: 10px;
            //background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.05) 20%, rgba(255,255,255,0.6) 100%);
            padding: 5px;
            background:  rgba(0,0,0,0.4);
            border: 1px solid white;
            border-radius: 5px;
            height: 100px;
            width: 240px;
            color: #fff;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
            gap: 5px;
            font-size: 14px;
            font-family: 'Poppins', sans-serif;
            right: 2vh;
            .top, .bottom, .bottom2, .bottom3{
                width: 100%;
                display: flex;

                .id, .ping, .cash, .bank, .date, .clock, .tempurature{
                    width: 50%;
                }
                .weather {
                    text-align: center;
                    width: 100%;
                }
            }

            &::before{
                content: '';
                height: 1px;
                width: 200px;
                position: absolute;
                //background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.02) 20%, rgba(255,255,255,0.6) 100%);
                top: 0;
                right: 0;
            }

            &::after{
                content: '';
                height: 1px;
                width: 200px;
                position: absolute;
                //background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.02) 20%, rgba(255,255,255,0.6) 100%);
                bottom: 0;
                right: 0;
            }
        }
    }

    .status{
        position: absolute;
        width: 350px;
        height: 230px;
        left: 25px;
        bottom: 25px;
        color: #fff;
        
        .map-outline{
            width: 270px;
            height: 180px;
            border: 1px solid #ffffff3c;
            box-shadow: 0 0 5px 1px #ffffff3c, 0 0 5px 1px #ffffff3c inset;
            position: absolute;
            left: 5px;
            bottom: 10px;
        }

        .status-wrapper {
            width: 40px;
            height: 190px;
            position: absolute;
            bottom: 10px;
            left: 15vw;
            transition: left 0.4s, top 0.4s;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-end;
            justify-content: end;

            .health-wrapper{
                width: 40px;
                height: 40px;
                border: 3px solid #fff;
                padding: 2px;
                border-radius: 50%;
                box-shadow: 0 0 5px 1px #ffffff78, 0 0 5px 1px #ffffff78 inset ;

                .health{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    background-image: conic-gradient(#fff 64%, transparent 17%, transparent);
                    border-radius: 50%;

                    img{
                        width: 20px;
                    }
                }
            }
            
            .armour-wrapper{
                width: 40px;
                height: 40px;
                border: 3px solid #fff;
                padding: 2px;
                border-radius: 50%;
                box-shadow: 0 0 5px 1px #ffffff78, 0 0 5px 1px #ffffff78 inset ;

                .armour{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    background-image: conic-gradient(#fff 64%, transparent 17%, transparent);
                    border-radius: 50%;

                    img{
                        width: 18px;
                    }
                }
            }
            
            .hunger-wrapper{
                width: 40px;
                height: 40px;
                border: 3px solid #fff;
                padding: 2px;
                border-radius: 50%;
                box-shadow: 0 0 5px 1px #ffffff78, 0 0 5px 1px #ffffff78 inset ;

                .hunger{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    background-image: conic-gradient(#fff 64%, transparent 17%, transparent);
                    border-radius: 50%;

                    img{
                        width: 16px;
                    }
                }
            }

            .thirst-wrapper{
                width: 40px;
                height: 40px;
                border: 3px solid #fff;
                padding: 2px;
                border-radius: 50%;
                box-shadow: 0 0 5px 1px #ffffff78, 0 0 5px 1px #ffffff78 inset ;

                .thirst{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    background-image: conic-gradient(#fff 64%, transparent 17%, transparent);
                    border-radius: 50%;

                    img{
                        width: 16px;
                    }
                }
            }

            .stamina-wrapper{
                width: 40px;
                height: 40px;
                border: 3px solid #fff;
                padding: 2px;
                border-radius: 50%;
                box-shadow: 0 0 5px 1px #ffffff78, 0 0 5px 1px #ffffff78 inset ;

                .stamina{
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    background-image: conic-gradient(#fff 64%, transparent 17%, transparent);
                    border-radius: 50%;

                    img{
                        width: 18px;
                    }
                }
            }

            .oxygen-wrapper{
                width: 40px;
                height: 40px;
                border: 3px solid #fff;
                padding: 2px;
                border-radius: 50%;
                box-shadow: 0 0 5px 1px #ffffff78, 0 0 5px 1px #ffffff78 inset ;

                .oxygen{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    background-image: conic-gradient(#fff 64%, transparent 17%, transparent);
                    border-radius: 50%;

                    img{
                        width: 18px;
                    }
                }
            }
        }
        .status2-wrapper {
            width: 40px;
            height: 190px;
            position: absolute;
            bottom: 10px;
            left: 18vw;
            transition: left 0.4s, top 0.4s;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-end;
            justify-content: end;

            .stress-wrapper{
                width: 40px;
                height: 40px;
                border: 3px solid #fff;
                padding: 2px;
                border-radius: 50%;
                box-shadow: 0 0 5px 1px #ffffff78, 0 0 5px 1px #ffffff78 inset ;

                .stress{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    background-image: conic-gradient(#fff 64%, transparent 17%, transparent);
                    border-radius: 50%;

                    img{
                        width: 20px;
                    }
                }
            }
            
            .alcohol-wrapper{
                width: 40px;
                height: 40px;
                border: 3px solid #fff;
                padding: 2px;
                border-radius: 50%;
                box-shadow: 0 0 5px 1px #ffffff78, 0 0 5px 1px #ffffff78 inset ;

                .alcohol{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    background-image: conic-gradient(#fff 64%, transparent 17%, transparent);
                    border-radius: 50%;

                    img{
                        width: 18px;
                    }
                }
            }
            
            .drug-wrapper{
                width: 40px;
                height: 40px;
                border: 3px solid #fff;
                padding: 2px;
                border-radius: 50%;
                box-shadow: 0 0 5px 1px #ffffff78, 0 0 5px 1px #ffffff78 inset ;

                .drug{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    background-image: conic-gradient(#fff 64%, transparent 17%, transparent);
                    border-radius: 50%;

                    img{
                        width: 16px;
                    }
                }
            }

            .smoking-wrapper{
                width: 40px;
                height: 40px;
                border: 3px solid #fff;
                padding: 2px;
                border-radius: 50%;
                box-shadow: 0 0 5px 1px #ffffff78, 0 0 5px 1px #ffffff78 inset ;

                .smoking{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    background-image: conic-gradient(#fff 64%, transparent 17%, transparent);
                    border-radius: 50%;

                    img{
                        width: 16px;
                    }
                }
            }

            
        }
        .location{
            bottom: 19vh;
            left: 0;
            transition: left 0.4s, bottom 0.4s;
            position: absolute;
            display: flex;
            gap: 5px;
            /*border: 1px solid black;*/
            display: flex;
            flex-direction: column;
            width: 275px;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.02) 20%, rgba(255, 255, 255, 0.4) 100%);
        }

        div{
            font-family: 'Poppins', sans-serif;
        }

        img{
            width: 25px;
        }
    }

    .carhud{
        display: block;
        position: absolute;
        right: 35px;
        /*bottom: 35px;*/
        bottom: 65px;
        width: 310px;
        color: #fff;
        transition: right 0.5s;

        .other-wrapper{
            margin-left: 8px;

            .speed-unit{
                font-family: 'Poppins', sans-serif;
                font-size: 52px;
                opacity: 0.4;
                font-weight: 700;
                height: 55px;
                width: 120px;
            }

            .icons{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 120px;
                margin-top: 10px;

                img{
                    width: 22px;
                    opacity: 0.8;
                    transition: opacity 0.3s;
                }

                .belt, .cruise{
                    opacity: 0.3;
                }

                .fuel-bar-wrapper{
                    height: 20px;
                    display: flex;
                    align-items: end;
                    gap: 2px;
                    position: relative;
                    .fuel-bar{
                        
                        background-color: #fff;
                        width: 5px;
                        height: 100%;
                        
                        border-radius: 1px;
                        transition: height 0.2s;
                        opacity: 0.8;
                    }
                    .fuel-bar-progress{
                        background-color: rgba(0,0,0,0.5);
                        height: 10%;
                    }
    
                    img{
                        width: 18px;
                    }
                }
            }
            .mileage{
                margin-top: 15px;
                font-size: 15px;
            }
        }

        .speed{
            font-size: 100px;
            font-weight: 600;
            width: 180px;
            height: 105px;
            display: flex;
            align-items: center;
            text-align: center;
        }
        
        .rpm{
            width: 180px;
            height: 5px;
            border-right: 2px solid #fff;
            position: relative;

            .rpm-bar{
                position: absolute;
                left: 0;
                top: 0;
                width: 0%;
                height: 5px;
                background-color: #fff;
                /*background-color: green;*/
                //background: linear-gradient(to righ, green, red);
                transition: width 0.2s;
            }
        }
    }

    .voicehud{
        position: absolute;
        /*top: 35px;
        left: 35px;*/
        top: 45px;
        right: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        transition: opacity 0.3s;
    
        .voice{
            display: flex;
            gap: 3px;

            span{
                border-radius: 5px;
                width: 13px;
                height: 4px;
                border: 1px solid #fff;
                background-color: #fff;
                display: block;

                &:last-child{
                    background: none;
                }
            }
        }
    
        img{
            width: 30px;
        }
    }

   
}